*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#hero{
    background-image: url(/background\ img.jpeg);
    height: 40rem;
    width: 100%;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
}
nav{
    /* border: 1px solid black; */
    width: 100%;
    height: 5rem;
    display: flex;
    padding-top: 1.5rem;
    padding-left: rem;
    padding-right: rem;
    
    
}
nav #logo{
    /* border: 1px solid blue; */
    width: 20%;
    font-size: 2rem;
    color: grey;
   
}
.logosize{
    width: 15%;
}
nav #logo i{
    margin-right: 1rem;

}
nav #menu{
   width: 80%;
   padding-top: 1rem;
   /* font-size: 1.2rem; */
}
nav #menu ul{
    list-style: none;
    display: flex;
    gap: 1.8rem;
    float: right;
    font-size: 1.2rem;
}
nav #menu ul li a{
    text-decoration: none;
    color: grey;
}


#hero #heroSection{
    /* border: 1px solid yellow; */
    width: 100%;
    height: 35rem;
    padding-top: 7rem;
    text-align: center;

}
#hero #heroSection h1{
    color: black;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}
#hero #heroSection p{
    color: black;
}
#hero #heroSection #para{
    margin-top: 2.5rem;
    font-size: 1.3rem;
}
#hero #heroSection #price{
    margin-top: 2rem;
}
#hero #heroSection button{
    width: 10rem;
    height: 2.5rem;
    border-radius: 2rem;
    background-color: white;
    outline: none;
    border:  none;
    font-weight: bold;
    align-items: center;
    

}
#hero #heroSection button a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 1rem;

}


/* @media(max-width: 665px){
    .slider{
        background-color: rgba(255,255,255,0.15);
        backdrop-filter: blur(10px);
    }
} */
